$white: #FFFFFF;

// BURLESQUE
$burlesquePink: #EE4E6D;
$burlesqueBlack: #030204;

// SEASON OF THE WITCH
$seasonOfTheWitchOrange: #E26E0B;
$seasonOfTheWitchBrown: #414232;

// OLD DOGS
$oldDogsTan: #EFB35C;
$oldDogsBrown: #703D2F;

// THE LAST AIRBENDER
$theLastAirbenderBlue: #63B6D2;
$theLastAirbenderBlack: #022039;

// DRIVE ANGRY
$driveAngryOrange: #E5490B;
$driveAngryYellow: #FCE729;

// BATTLEFIELD EARTH
$battleFieldEarthBlue: #34B3E3;
$battleFieldEarthGreen: #9DDE97;

// ALL ABOUT STEVE
$allAboutSteveRed: #F90302;
$allAboutSteveYellow: #CFBE59;

// SUCKER PUNCH
$suckerPunchGreen: #539C5F;
$suckerPunchBlack: #212211;

// FAST FIVE
$fastFiveBlue: #43799D;
$fastFiveSilver: #A7B8C1;

// MAC AND ME
$macAndMeOrange: #D06715;
$macAndMePurple: #343F7C;

// THE TOURIST
$theTouristRed: #C3282D;
$theTouristBlue: #73CFF6;

// THE LOVE GURU
$theLoveGuruBlue: #3D6CBD;
$theLoveGuruYellow: #F7F40A;

// CRANK HIGH VOLTAGE
$crankHighVoltageRed: #C40D1F;
$crankHighVoltageGrey: #676E72;

// GREEN LANTERN
$greenLanternGreen: #44A255;
$greenLanternBlack: #040301;

// THE BACK UP PLAN
$theBackUpPlanPink: #D45B92;
$theBackUpPlanBlack: #000704;

// THE SMURFS
$theSmurfsBlue: #0895E2;
$theSmurfsGrey: #444642;

// SKYLINE
$skylineBlue: #27A5D2;
$skylineGrey: #334F70;

// GIGLI
$gigliRed: #FC1D31;
$gigliBlack: #1F2933;

// THE WICKER MAN
$theWickerManOrange: #E7AB56;
$theWickerManRed: #AE2604;

// PUNISHER WAR ZONE
$punisherWarZoneRed: #B8220F;
$punisherWarZoneGrey: #616C6D;

// I KNOW WHO KILLED ME
$iKnowWhoKilledMePurple: #0B3AC1;
$iKnowWhoKilledMeRed: #CA2746;

// LEPRECHAUN IN THE HOOD
$leprechaunInTheHoodGreen: #AFBA4E;
$leprechaunInTheHoodBlack: #000200;

// THE ROOM
$theRoomRed: #B90F0F;
$theRoomGreen: #4E6C61;

// SUPERMAN III
$superman3Red: #C02C0F;
$superman3Blue: #39A5F1;

// CATWOMAN
$catwomanGreen: #51847D;
$catwomanYellow: #E1CA88;

// JINGLE ALL THE WAY
$jingleAllTheWayGreen: #06A72C;
$jingleAllTheWayRed: #FA0604;

// TWIGHLIGHT BREAKING DAWN PART 1
$twighlightBreakingDawnPart1Red: #8F2629;
$twighlightBreakingDawnPart1Brown: #7B472C;

// CRANK
$crankOrange: #BB5231;
$crankBrown: #5D180E;

// TRESPASS
$trespassTan: #C6B9AC;
$trespassBlack: #1B1B19;

// COOL AS ICE
$coolAsIcePurple: #5B0D68;
$coolAsIcePink: #C50030;

// BIRDEMIC
$birdemicBlue: #B2D7E6;
$birdemicGrey: #363C32;

// 88 MINUTES
$eightyEightMinutesRed: #E13F33;
$eightyEightMinutesDarkRed: #A42C25;

// ABDUCTION
$abductionBlue: #A1FDFF;
$abductionGrey: #325559;

// THE ADVENTURES OF PLUTO NASH
$theAdventuresOfPlutoNashGreen: #98C516;
$theAdventuresOfPlutoNashBlue: #1D7FEF;

// TIPTOES
$tiptoesGreen: #22B72C;
$tiptoesYellow: #FADB48;

// ON THE LINE
$onTheLineOrange: #BB683C;
$onTheLineYellow: #F2D469;

// SPEED 2 CRUISE CONTROL
$speed2CruiseControlRed: #EB3934;
$speed2CruiseControlBlue: #1F3B74;

// BAD ASS
$badAssYellow: #FBF497;
$badAssRed: #FA6D5E;

// GODZILLA
$godzillaGreen: #68A63B;
$godzillaBlue: #0A408D;

// JUDGE DREDD
$judgeDreddRed: #F61119;
$judgeDreddOrange: #E7A41C;

// SPIDER MAN 3
$spiderMan3Red: #C54448;
$spiderMan3Blue: #1A3057;

// BATMAN AND ROBIN
$batmanAndRobinBlue: #3E7BAC;
$batmanAndRobinPurple: #984074;

// WILD WILD WEST
$wildWildWestOrange: #EB5B1F;
$wildWildWestBrown: #58454D;

// JAWS 4
$jaws4Blue: #103F87;
$jaws4Red: #D52256;

// ROAD HOUSE
$roadHouseBlue: #8DC7E6;
$roadHouseRed: #691F0B;

// BARB WIRE
$barbWireRed: #AC0221;
$barbWireBlack: #000A25;

// SUPER MARIO BROS
$superMarioBrosRed: #8B3231;
$superMarioBrosGreen: #184347;

// SLEEPAWAY CAMP
$sleepawayCampPink: #D73465;
$sleepawayCampBlue: #003757;

// COBRA
$cobraRed: #D2000E;
$cobraBlack: #0A0810;

// TWIGHLIGHT BREAKING DAWN PART 2
$twighlightBreakingDawnPart2Yellow: #BFBB5A;
$twighlightBreakingDawnPart2Black: #000002;

// LIZ AND DICK
$lizAndDickRed: #D7040D;
$lizAndDickGrey: #4A5161;

// REINDEER GAMES
$reindeerGamesOrange: #D27628;
$reindeerGamesBlack: #010609;

// ANACONDA
$anacondaGreen: #417A16;
$anacondaRed: #C3233E;

// THE ODD LIFE OF TIMOTHY GREEN
$theOddLifeOfTimothyGreenGreen: #91A233;
$theOddLifeOfTimothyGreenDarkGreen: #5E5F2E;

// THE DEVILS ADVOCATE
$theDevilsAdvocateRed: #750F12;
$theDevilsAdvocateBlack: #000405;

// NOTHING BUT TROUBLE
$nothingButTroubleOrange: #F6992D;
$nothingButTroublePurple: #7C61AD;

// FROM JUSTIN TO KELLY
$fromJustinToKellyRed: #DD3626;
$fromJustinToKellyBlue: #6B94FB;

// IN THE NAME OF THE KING
$inTheNameOfTheKingBlue: #347BAF;
$inTheNameOfTheKingGrey: #394553;

// SPICE WORLD
$spiceWorldBlue: #2E3757;
$spiceWorldYellow: #F4C153;

// STREET FIGHTER
$streetFighterBlue: #42A8E0;
$streetFighterRed: #B21E21;

// STOP OR MY MOM WILL SHOOT
$stopOrMyMomWillShootPurple: #1B1E61;
$stopOrMyMomWillShootYellow: #FAF9AA;

// JOYFUL NOISE
$joyfulNoisePurple: #2E2F81;
$joyfulNoiseGrey: #3A466D;

// FAST AND FURIOUS 6
$fastAndFurious6Blue: #5BB0D0;
$fastAndFurious6Black: #161F22;

// AFTER EARTH
$afterEarthBlue: #5E9493;
$afterEarthRed: #95271E;

// HOWARD THE DUCK
$howardTheDuckOrange: #ED6617;
$howardTheDuckYellow: #FDE306;

// DEMOLITION MAN
$demolitionManPurple: #5F5A80;
$demolitionManGrey: #B1B2CE;

// SHARKNADO
$sharknadoRed: #C21623;
$sharknadoOrange: #DF5B16;

// OVER THE TOP
$overTheTopRed: #F80402;
$overTheTopYellow: #CCD110;

// CROCODILE DUNDEE IN LOS ANGELES
$crocodileDundeeInLosAngelesPink: #DB38A5;
$crocodileDundeeInLosAngelesPurple: #1D1894;

// GYMKATA
$gymkataRed: #A40A1D;
$gymkataPeach: #F1804B;

// THE GLIMMER MAN
$theGlimmerManBlue: #5D80C1;
$theGlimmerManBlack: #1B151E;

// TOYS
$toysRed: #A92B17;
$toysBlue: #84CBEA;

// CONGO
$congoGreen: #3F9D63;
$congoYellow: #CDCF73;

// HALLOWEEN 3
$halloween3Red: #B91914;
$halloween3Orange: #AA5E49;

// DAREDEVIL
$daredevilRed: #EB1E33;
$daredevilBlack: #01060A;

// FAIR GAME
$fairGameRed: #BB1F29;
$fairGameBlack: #060708;

// HUDSON HAWK
$hudsonHawkBlue: #19E6CE;
$hudsonHawkRed: #E62024;

// CROSSROADS
$crossroadsBlue: #7496FA;
$crossroadsYellow: #FBE30D;

// DECK THE HALLS
$deckTheHallsRed: #EE2D20;
$deckTheHallsBlue: #6AC5E8;

// JACK FROST
$jackFrostBlue: #17397F;
$jackFrostRed: #B53367;

// MORTAL KOMBAT
$mortalKombatBrown: #6F3725;
$mortalKombatRed: #7C0E0F;

// DOUBLE TEAM
$doubleTeamBlue: #026BAA;
$doubleTeamYellow: #EEE442;

// WINTERS TALE
$wintersTaleBlue: #347EA2;
$wintersTaleBlack: #0D1A26;

// NO HOLDS BARRED
$noHoldsBarredBlue: #84E8F0;
$noHoldsBarredDarkBlue: #162A5E;

// COLOR OF NIGHT
$colorOfNightRed: #CA1225;
$colorOfNightOrange: #C9643F;

// ERNEST GOES TO JAIL
$ernestGoesToJailRed: #C14136;
$ernestGoesToJailYellow: #E3D7A0;

// EASY RIDER THE RIDE BACK
$easyRiderTheRideBackRed: #CA0A31;
$easyRiderTheRideBackYellow: #B29F02;

// MR NANNY
$mrNannyBlue: #0C4B8E;
$mrNannyPink: #C869A1;

// GOOBY
$goobyYellow: #FEF27F;
$goobyOrange: #E59741;

// SHARKNADO 2
$sharknado2Red: #C30203;
$sharknado2Blue: #5287B8;

// STAYING ALIVE
$stayingAliveYellow: #D7CC4F;
$stayingAliveOrange: #A85423;

// GLITTER
$glitterPink: #BE178B;
$glitterPurple: #48166A;

// TEMPTATION
$temptationRed: #CB1625;
$temptationBlack: #000001;

// MONKEY SHINES
$monkeyShinesRed: #75131B;
$monkeyShinesOrange: #FE701D;

// RHINESTONE
$rhinestoneRed: #9D1E49;
$rhinestoneYellow: #FABA45;

// LOL
$lolBlack: #031000;
$lolPink: #EB038A;

// A VIEW TO A KILL
$aViewToAKillBlue: #00419F;
$aViewToAKillRed: #A11603;

// JUNIOR
$juniorOrange: #C36D1E;
$juniorYellow: #F4C15A;

// XANADU
$xanaduPurple: #686C84;
$xanaduOrange: #DEAE8A;

// TANGO AND CASH
$tangoAndCashRed: #E31F1B;
$tangoAndCashBlack: #211B1C;

// ZARDOZ
$zardozGreen: #8BBF1F;
$zardozBlue: #65ADF2;

// SAFE HAVEN
$safeHavenBlue: #BAE2EB;
$safeHavenTan: #BA9B72;

// DEEP BLUE SEA
$deepBlueSeaBlue: #31536F;
$deepBlueSeaGrey: #7F8B99;

// LAKE PLACID
$lakePlacidBlue: #B7D8E5;
$lakePlacidRed: #853D5B;

// CON AIR
$conAirOrange: #E04617;
$conAirRed: #C12119;

// FACE OFF
$faceOffBlue: #536C92;
$faceOffBlack: #06070C;

// THE ISLAND OF DR MOREAU
$theIslandOfDrMoreauGreen: #4A794A;
$theIslandOfDrMoreauBlack: #060C14;

// HERCULES IN NEW YORK
$herculesInNewYorkRed: #A64031;
$herculesInNewYorkPeach: #F7AC9C;

// JUPITER ACENDING
$jupiterAcendingOrange: #EE8D4D;
$jupiterAcendingGreen: #274637;

// TMNT2
$tmnt2Purple: #486BBC;
$tmnt2Green: #73D742;

// RUNAWAY
$runawayRed: #EB2F31;
$runawayGrey: #4D5459;

// SHARKNADO 3
$sharknado3Red: #CD4C3F;
$sharknado3Blue: #5A819C;

// TOP DOG
$topDogRed: #97443F;
$topDogBlue: #87A7B2;

// THEODORE REX
$theodoreRexOrange: #EB8F1A;
$theodoreRexPurple: #223588;

// FURIOUS 7
$furious7Black: #020303;
$furious7Grey: #596267;

// MAXIMUM OVERDRIVE
$maximumOverdriveRed: #6F0304;
$maximumOverdrivePurple: #1F1351;

// MASTERS OF THE UNIVERSE
$mastersOfTheUniverseBlue: #0067B2;
$mastersOfTheUniverseOrange: #FAB131;

// PERFECT
$perfectBlue: #378BDC;
$perfectRed: #E02900;

// DEATH SPA
$deathSpaRed: #DD113C;
$deathSpaOrange: #E3641E;

// LIFEFORCE
$lifeforceBlue: #2576B9;
$lifeforceRed: #B33332;

// HACKERS
$hackersBlue: #0170C9;
$hackersPink: #C6ACCC;

// STEEL
$steelBlue: #3B649C;
$steelOrange: #BC7A3A;

// STAR WARS HOLIDAY SPECIAL
$starWarsHolidaySpecialBlack: #161718;
$starWarsHolidaySpecialGrey: #696A6B;

// KAZAAM
$kazaamGreen: #69A22C;
$kazaamPurple: #3642A7;

// STREETS OF FIRE
$streetsOfFireRed: #FC002C;
$streetsOfFireYellow: #F5E01C;

// THE APPLE
$theAppleRed: #771B31;
$theAppleYellow: #EEE412;

// TEEN WITCH
$teenWitchGreen: #28544E;
$teenWitchOrange: #FE8C4E;

// THE COVENANT
$theCovenantBlue: #4F85AD;
$theCovenantBlack: #172A36;

// BLOODSPORT
$bloodsportRed: #E80B14;
$bloodsportBlack: #1D120C;

// THE QUEST
$theQuestRed: #9F2E24;
$theQuestOrange: #D68005;

// CANT STOP THE MUSIC
$cantStopTheMusicBlue: #073177;
$cantStopTheMusicRed: #D21D48;

// SOLARBABIES
$solarbabiesPink: #F26386;
$solarbabiesPurple: #363675;

// HELL COMES TO FROGTOWN
$hellComesToFrogtownOrange: #FD6702;
$hellComesToFrogtownYellow: #E4B93B;

// THE AVENGERS
$theAvengersBlue: #407A82;
$theAvengersOrange: #C66734;

// THE BOY NEXT DOOR
$theBoyNextDoorBlue: #039BCE;
$theBoyNextDoorPink: #E9ABA5;

// SIMPLY IRRESISTIBLE
$simplyIrresistiblePink: #E96780;
$simplyIrresistiblePurple: #4F51BC;

// MANNEQUIN TWO
$mannequinTwoPink: #C0297F;
$mannequinTwoBlue: #2954D3;

// THE SHADOW
$theShadowGreen: #296523;
$theShadowBlue: #063A83;

// THE PHANTOM
$thePhantomPink: #8C2341;
$thePhantomBlack: #25171A;

// GODS OF EGYPT
$godsOfEgyptOrange: #EC9017;
$godsOfEgyptYellow: #F8EC4B;

// STEALTH
$stealthYellow: #FAE77D;
$stealthOrange: #E08E0F;

// VAMPIRE ACADEMY
$vampireAcademyGreen: #5FC845;
$vampireAcademyPink: #D90888;

// DREAMCATCHER
$dreamcatcherBlue: #3B798F;
$dreamcatcherGrey: #597082;

// GAMER
$gamerRed: #EF201E;
$gamerBlack: #010101;

// VAMPIRES KISS
$vampiresKissRed: #F91802;
$vampiresKissBlue: #6C9FB5;

// THE LAWNMOWER MAN
$theLawnmowerManBlue: #023787;
$theLawnmowerManGreen: #0A8F38;

// GREASE 2
$grease2Purple: #011B8D;
$grease2Pink: #B7198E;

// ESCAPE FROM LA
$escapeFromLaRed: #B92636;
$escapeFromLaYellow: #FAE301;

// HIGHLANDER 2
$highlander2Blue: #587DAE;
$highlander2Pink: #B48BAD;

// AIRBORNE
$airborneBlue: #3A74FB;
$airbornePink: #F951D1;

// XXX
$xxxBlue: #125B86;
$xxxRed: #DE1D01;

// SURF NINJAS
$surfNinjasRed: #BA3D1D;
$surfNinjasYellow: #F7C67B;

// BODY PARTS
$bodyPartsRed: #E1131E;
$bodyPartsBlack: #000707;

// SLEEPWALKERS
$sleepwalkersPink: #E94871;
$sleepwalkersGreen: #BFD244;

// THE LAKE HOUSE
$theLakeHouseBlack: #010505;
$theLakeHouseGrey: #6D7879;

// THE FATE OF THE FURIOUS
$theFateOfTheFuriousBlue: #B9DDF2;
$theFateOfTheFuriousGrey: #8F9BA8;

// MY STEPMOTHER IS AN ALIEN
$myStepmotherIsAnAlienBlue: #24749E;
$myStepmotherIsAnAlienYellow: #D1C560;

// THE RUNNING MAN
$theRunningManRed: #D11109;
$theRunningManGrey: #899995;

// THE WRAITH
$theWraithBlue: #54C0EC;
$theWraithPurple: #4E79D0;

// NINJA TERMINATOR
$ninjaTerminatorGreen: #74FB99;
$ninjaTerminatorYellow: #FEFEA3;

// TIMECOP
$timecopGreen: #1FE5A4;
$timecopRed: #8D1F34;

// CHOPPING MALL
$choppingMallRed: #D91B09;
$choppingMallBlue: #76A1D1;

// HARD TICKET TO HAWAII
$hardTicketToHawaiiOrange: #F17435;
$hardTicketToHawaiiYellow: #EED05D;

// THE GARBAGE PAIL KIDS MOVIE
$theGarbagePailKidsMovieBlue: #3974B1;
$theGarbagePailKidsMoviePurple: #3D3E8F;

// BRATZ
$bratzPink: #CE2B6D;
$bratzBlue: #356077;

// MIAMI CONNECTION
$miamiConnectionBlue: #04B3D9;
$miamiConnectionPink: #DA5EA4;

// THE LAST DRAGON
$theLastDragonOrange: #E09932;
$theLastDragonRed: #B12904;

// VIRTUOSITY
$virtuosityGreen: #5CF569;
$virtuosityYellow: #F5E949;

// JASON X
$jasonXBlue: #2467A9;
$jasonXGrey: #697780;

// ULTRAVIOLET
$ultravioletBlue: #5E9EBE;
$ultravioletGrey: #628187;

// THE JAZZ SINGER
$theJazzSingerGold: #8B7858;
$theJazzSingerBlack: #000000;

// THE DISASTER ARTIST
$theDisasterArtistGrey: #48666D;
$theDisasterArtistBlack: #0B2E33;

// VALERIAN AND THE CITY OF A THOUSAND PLANETS
$valerianAndTheCityOfAThousandPlanetsBlue: #89E7FD;
$valerianAndTheCityOfAThousandPlanetsPurple: #0F46CF;

// SUPERMAN IV THE QUEST FOR PEACE
$superman4Blue: #12A4E8;
$superman4Red: #A6212A;

// SECOND SIGHT
$secondSightRed: #BE2327;
$secondSightYellow: #FFDC06;

// HOWLING II YOUR SISTER IS A WEREWOLF
$howling2Red: #9F1D21;
$howling2Orange: #D3966D;

// FREEJACK
$freejackBlue: #346A95;
$freejackBlack: #17191A;

// ROCK STAR
$rockStarGrey: #859B9D;
$rockStarRed: #B94C4E;

// LADYBUGS
$ladybugsRed: #C34731;
$ladybugsBlack: #0D1012;

// JOHNNY MNEMONIC
$johnnyMnemonicRed: #D40021;
$johnnyMnemonicYellow: #FBF448;

// ADORE
$adoreBlue: #007B9F;
$adoreBrown: #948469;

// GEOSTORM
$geostormBlue: #123A4E;
$geostormRed: #B54238;

// BEAUTIFUL CREATURES
$beautifulCreaturesGreen: #7E7F44;
$beautifulCreaturesYellow: #DFDFAE;

// BODY ROCK
$bodyRockPink: #F52187;
$bodyRockGreen: #7DC0AD;

// SKY CAPTAIN AND THE WORLD OF TOMORROW
$skyCaptainAndTheWorldOfTomorrowBlue: #415B6C;
$skyCaptainAndTheWorldOfTomorrowGrey: #9EA498;

// THE HURRICANE HEIST
$theHurricaneHeistRed: #F93222;
$theHurricaneHeistGrey: #9BABB8;

// RAD
$radRed: #EC330F;
$radYellow: #F9CE0D;

// STRIPTEASE
$stripteaseRed: #AB0C09;
$stripteaseGrey: #DADBDC;

// BLUES BROTHERS 2000
$bluesBrothers2000Purple: #303567;
$bluesBrothers2000Grey: #C4C3BC;

// YES GIORGIO
$yesGiorgioRed: #B15755;
$yesGiorgioTan: #E2C799;

// NEVER TOO YOUNG TO DIE
$neverTooYoungToDieRed: #DD2129;
$neverTooYoungToDieYellow: #E7D427;

// THE MEG
$theMegGreen: #76E200;
$theMegYellow: #F4FD00;

// BEASTLY
$beastlyBlue: #1B86B6;
$beastlyTan: #DFCDBA;

// LOOK WHOS TALKING TOO
$lookWhosTalkingTooPurple: #2C1A6B;
$lookWhosTalkingTooBlue: #81C1F6;

// A NIGHT IN HEAVEN
$aNightInHeavenPurple: #68729C;
$aNightInHeavenYellow: #F9F5D4;

// ACTION JACKSON
$actionJacksonRed: #AA3727;
$actionJacksonPurple: #2F395C;

// SKYSCRAPER
$skyscraperOrange: #FC8846;
$skyscraperRed: #A01D04;

// LOOK WHOS TALKING NOW
$lookWhosTalkingNowPurple: #020016;
$lookWhosTalkingNowBlue: #A1C6F8;

// PERFECT STRANGER
$perfectStrangerRed: #D71F1F;
$perfectStrangerGrey: #99999A;

// HOLIDAY IN HANDCUFFS
$holidayInHandcuffsGreen: #5DBB44;
$holidayInHandcuffsRed: #CB0D21;

// CELLULAR
$cellularRed: #D02E01;
$cellularYellow: #B7A256;

// LITTLE ITALY
$littleItalyRed: #DA1719;
$littleItalyGrey: #4E524B;

// DRAGON BLADE
$dragonBladeYellow: #E0BC61;
$dragonBladeBlack: #231D29;

// HARRY AND MEGHAN A ROYAL ROMANCE
$harryAndMeghanARoyalRomanceRed: #DE1920;
$harryAndMeghanARoyalRomanceBlue: #BEDDFA;

// THE SNOWMAN
$theSnowmanRed: #BB1A1A;
$theSnowmanBlack: #4C5051;

// VAN HELSING
$vanHelsingGreen: #749071;
$vanHelsingBlack: #17140C;

// THE SECRET
$theSecretRed: #C30825;
$theSecretBlack: #1B1014;

// PROM NIGHT II
$promNight2Red: #EE013A;
$promNight2Purple: #803A9A;

// SHANGHAI SURPRISE
$shanghaiSurpriseRed: #920A17;
$shanghaiSurpriseBlue: #7E98D9;

// HERCULES
$herculesOrange: #D87D20;
$herculesYellow: #EDCB68;

// THE COUNTRY BEARS
$theCountryBearsGold: #EBC243;
$theCountryBearsBrown: #944F37;

// SERENITY
$serenityRed: #C4151D;
$serenityGrey: #375356;

// JAWS 3D
$jaws3dRed: #B80201;
$jaws3dYellow: #DDBE35;

// DEADFALL
$deadfallRed: #9E504C;
$deadfallGreen: #45794B;