.logo {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-align: center;
    transition: all 225ms;

    > span {
        display: block;
    }
    

    &.logo--mark {
        color: $white;
        position: absolute;
        left: 15px;
        top: 15px;
        z-index: 100;

        > span {
            font-size: 50px;
        }
    }

    &.logo--info {
        color: black;
        font-size: 32px;
        letter-spacing: -1px;

        > span {
            font-size: 70px;
        }
    }
}

