.share {
    margin: 0 auto;
    max-width: 525px;
    padding: 20px;
    position: relative;
    text-align: center;
    width: 100%;

    > * + * {
        margin-top: 20px;
    }

    &:before {
        content: "";
        display: block;
        height: 1px;
        border-top: 1px solid rgba(black,.15);
        margin: auto;
        max-width: 525px;
        width: 100%;
    }
}

.share__heading {
    color: #666666;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;

    @media (min-width: 500px) {
        margin-top: 75px;
    }
}

.share__content {
    font-size: 16px;
    color: #999999;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;

    > a {
        color: #666666;
        font-weight: 700;
    }
}

.share-list {
    > * + * {
        margin-left: 10px;
    }

    > li {
        cursor: pointer;
        display: inline-block;
        transition: transform 125ms ease-in-out;
        vertical-align: middle;

        &:hover {
            transform: translate3d(0,-15%,0) rotate(-5deg);
        }
    }
}