.subscribe {
    margin: 0 auto;
    max-width: 525px;
    padding: 20px;
    position: relative;
    text-align: center;
    width: 100%;

    > * + * {
        margin-top: 20px;
    }

    &:before {
        content: "";
        display: block;
        height: 1px;
        border-top: 1px solid rgba(black,.15);
        margin: auto;
        max-width: 525px;
        width: 100%;
    }
}

.subscribe__heading {
    color: #666666;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;

    @media (min-width: 500px) {
        margin-top: 75px;
    }
}

.subscribe__content {
    font-size: 16px;
    color: #999999;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;

    > a {
        color: #666666;
        font-weight: 700;
    }
}

.subscribe__button {
    border-radius: 5px;
    color: $white;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;
}