.guests {
    margin-top: 30px;

    @media (min-width: 450px) {
        margin-top: 60px;
    }
}

.guest-list {
    margin: auto;
    max-width: 600px;
    width: 100%;

    @media (min-width: 1050px) {
        max-width: 1000px;
    }

    .guest-list__item:nth-child(even) {
        @media (min-width: 1050px) {
            flex-direction: row-reverse;
        }
    }
}

.guest-list__item {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 0;

    @media (min-width: 450px) {
        margin: 60px 0;
    }

    @media (min-width: 1050px) {
        flex-direction: row;
    }

    h5 {
        margin-bottom: 20px;
    }
}

.guest-media {
    max-width: 80%;
    position: relative;
    perspective: 500;
    width: 420px;
    z-index: 1;

    @media (min-width: 1050px) {
        max-width: 40%;
    }
    
    > img {
        box-shadow: 0 20px 40px 10px rgba(0,0,0,0.2);
        border-radius: 8px;
        backface-visibility: hidden;
        display: inline-block;
        max-width: 100%;
        position: relative;
        transform: rotateY(5deg);
        transform-origin: center center;
        z-index: 1;
    }
}

.guest-description {
    margin: 50px 25px 25px 25px;

    @media (min-width: 1050px) {
        flex: 1;
        margin: 25px;
    }
}

.guest__bio {
    color: #666666;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.guest-plugs {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: 600px) {
        margin: 0 -10px;
    }

    > li {
        cursor: pointer;
        margin: 10px;
        max-width: 25%;

        @media (min-width: 450px) {
            max-width: 60px;    
        }
    }

    a {
        transition: transform 150ms;
        width: 100%;

        @media (min-width: 600px) {
            display: block;

            &:hover {
                transform: scale(1.5);
            }
        }
    }

    img {
        border-radius: 5px;
        display: block;
        width: 100%;
    }

    p {
        display: none;
        color: #666666;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        font-weight: 700;
        line-height: 1.5;
        margin-top: 15px;
        text-align: center;

        flex: 1;
    }
}