.nav__goback {
    left: 15px;
    position: absolute;
    top: 15px;
    z-index: 20;
}

.nav__info {
    color: $white;
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 1000;
}

.nav__back-to-top {
    color: $white;
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 1000;
    transition: all 225ms;
}